<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather app</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Fixed navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Temperatura obecna <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Historyczna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Wyłączone</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container" style="margin-top: 45px">
    <main role="main" class="container">
    <div class="container">
        <form th:action="@{/}" method="post">
            <input type="text" name="cityName" id="cityName">
            <input type="submit" value="Wyszukaj">
        </form>
    </div>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Typ</th>
            <th scope="col">Wartość</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Lokalizacja</th>
            <td th:text="${weather.getName()}">Lokalizacja</td>
        </tr>
        <tr>
            <th scope="row">Temperatura</th>
            <td th:text="${weather.getMain().getTemp()} + ' C'">Test</td>
        </tr>
        <tr>
            <th scope="row">Odczuwalna</th>
            <td th:text="${weather.getMain().getFeels_like()} + ' C'">Odczuwalna</td>
        </tr>

        <tr>
            <th scope="row">Wilgotnośc</th>
            <td th:text="${weather.getMain().getHumidity()}+ '%'">Wilgotność</td>
        </tr>

        <tr>
            <th scope="row">Ciśnienie</th>
            <td th:text="${weather.getMain().getPressure()} + ' hPa'">Ciśnienie</td>
        </tr>
        <tr>
            <th scope="row">Temperatura maksymalna</th>
            <td th:text="${weather.getMain().getTemp_max()} + ' C'">Temperatura maksymalna</td>
        </tr>
        <tr>
            <th scope="row">Temperatura minimalna</th>
            <td th:text="${weather.getMain().getTemp_min()} + ' C'">Temperatura minimalna</td>
        </tr>
        </tbody>
    </table>
        <h3 th:text="'aktualizacja danych: '+ ${weather.getConvertedDate()}" style="text-align: center">Update</h3>
    </main>
</div>

</body>
</html>